*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background: #3F5EFB;
    background: linear-gradient(127deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}
.container>h1{
    color: darkorange;
    font-size: 3em;
}
.container>div{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.container>div>input{
    width: 15em;
    height: 2em;
    border-radius: 1em;
    border: none;
    padding: 0.3em;
    padding-left: 0.8em;
}
#btn{
    background-color: green;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.5em;
    border: none;
    border-radius: 0.8em;
}
.addin{
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}
.addin>h2{
    color: #3F5EFB;
}